<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje.pl</title>

    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
<header>
    <!-- górne menu generowane przez JS -->
</header>
<main>
    <!-- navbar dla sortowania ofert względem kierunku / destynacji generowany przez JS -->

    <!-- tytuł zakłądki -->
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <h1>Oferty zagraniczne</h1>
                <!-- tutaj sekwencja ofert -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <!-- mock jednej oferty - todo pobieranie tego z bazy i wrzucanie thymeleaf -->
                        <div class="offer-item">
                            <img src="../images/porto.jpg" alt="#"/>
                            <div class="offer-item-description">
                                <h2>Porto (Portugalia)</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius, enim in
                                    sollicitudin venenatis, justo lorem interdum mi, in sagittis nulla sapien sit amet
                                    dui. Quisque ex ex, rhoncus sed lectus eu, mollis egestas erat. Curabitur imperdiet
                                    arcu in scelerisque molestie. Praesent felis purus, aliquam a ipsum nec, ultricies
                                    venenatis lorem. Suspendisse sodales et odio ac lobortis. Ut posuere, nunc sit amet
                                    tristique pretium, nisl est fermentum nisi, vel interdum tortor justo a lectus. </p>
                            </div>
                            <div class="offer-item-info">
                                <span class="badge badge-success">Dostępna</span>
                                <a href="offer.html" class="btn btn-primary">Pokaż szczegóły</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="offer-item">
                            <img src="../images/budapeszt.jpg" alt="#"/>
                            <div class="offer-item-description">
                                <h2>Budapeszt (Węgry)</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius, enim in
                                    sollicitudin venenatis, justo lorem interdum mi, in sagittis nulla sapien sit amet
                                    dui. Quisque ex ex, rhoncus sed lectus eu, mollis egestas erat. Curabitur imperdiet
                                    arcu in scelerisque molestie. Praesent felis purus, aliquam a ipsum nec, ultricies
                                    venenatis lorem. Suspendisse sodales et odio ac lobortis. Ut posuere, nunc sit amet
                                    tristique pretium, nisl est fermentum nisi, vel interdum tortor justo a lectus. </p>
                            </div>
                            <div class="offer-item-info">
                                <span class="badge badge-success">Dostępna</span>
                                <a href="#" class="btn btn-primary">Pokaż szczegóły</a>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</main>
<footer>
    <!-- nie ma specyfikacji w mockach -->
</footer>

<!-- initialize constant components like menu -->
<script src="../scripts/index.js"></script>
<script src="../scripts/navbar.js"></script>

</body>
</html>