<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Rezerwacje.pl</title>

    <link rel="stylesheet" type="text/css" href="../styles/home.css">
</head>
<body>
    <header id="header">
        <!-- górne menu generowane przez JS -->
    </header>
    <main id="content">
        <!-- navbar dla sortowania ofert względem kierunku / destynacji generowany przez JS -->

        <!-- tytuł zakłądki -->
        <h1>Oferty zagraniczne</h1>
        <!-- tutaj sekwencja ofert -->
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <!-- mock jednej oferty - todo pobieranie tego z bazy i wrzucanie thymeleaf -->
                <div class="offer-item">
                    <img src="../images/porto.jpg" alt="#"/>
                    <div class="offer-item-description">
                        <h2>Porto (Portugalia)</h2>
                        <p>Opis wycieczki</p>
                    </div>
                    <div class="offer-item-info">
                        <span class="badge badge-success">Dostępna</span>
                        <a href="#" class="btn btn-primary">Pokaż szczegóły</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="offer-item">
                    <img src="../images/porto.jpg" alt="#"/>
                    <div class="offer-item-description">
                        <h2>Porto (Portugalia)</h2>
                        <p>Opis wycieczki</p>
                    </div>
                    <div class="offer-item-info">
                        <span class="badge badge-success">Dostępna</span>
                        <a href="#" class="btn btn-primary">Pokaż szczegóły</a>
                    </div>
                </div>
            </li>
        </ul>

    </main>
    <footer>
        <!-- nie ma specyfikacji w mockach -->
    </footer>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- initialize constant components like menu -->
    <script src="../scripts/index.js"></script>
</body>
</html>